###### Requirements without Version Specifiers ######`
pandas-profiling

lightgbm
shap
xgboost

plotly
cufflinks
catboost

wordcloud
nltk
optuna
tensorflow

mlflow

web3


###### Requirements with Version Specifiers ######`
# docopt == 0.6.1             # Version Matching. Must be version 0.6.1
